@import 'typeface-poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;



.background-gradient {
  background: linear-gradient(to bottom, rgba(238, 4, 48, 0.5), rgba(255, 92, 123, 0.5));
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}